@font-face {
  font-family: 'font_regular';
  src: url("../fonts/custom_font/regular_font_file_name.eot");
  src: url("../fonts/custom_font/regular_font_file_name.eot#iefix") format("embedded-opentype"), url("../fonts/custom_font/regular_font_file_name.woff") format("woff");
}
@font-face {
  font-family: 'font_bold';
  src: url("../fonts/custom_font/bold_font_file_name.eot");
  src: url("../fonts/custom_font/bold_font_file_name.eot#iefix") format("embedded-opentype"), url("../fonts/custom_font/bold_font_file_name.woff") format("woff");
}
body {
  color: #000;
}

header {
  padding: 30px 0;
  background: #eee;
}
header .col-md-6.affix {
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -o-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  background: #eee;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
}

.section {
  padding: 30px 0 0 0;
}
.section.one {
  background: #fff;
}
.section.two {
  background: #eee;
}
.section.three {
  background: #ccc;
}

footer {
  padding: 30px 0;
  background: #eee;
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  -moz-animation-name: slideInDown;
  -o-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slideInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes slideInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }
  100% {
    -o-transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  -moz-animation-name: slideInUp;
  -o-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* ACCORDION COMPONENT */
.accordion {
  margin: 0 0 30px 0;
}
.accordion .panel-group .panel .panel-body h1, .accordion .panel-group .panel .panel-body h2, .accordion .panel-group .panel .panel-body h3, .accordion .panel-group .panel .panel-body h4, .accordion .panel-group .panel .panel-body h5, .accordion .panel-group .panel .panel-body h6, .accordion .panel-group .panel .panel-body p, .accordion .panel-group .panel .panel-body ul, .accordion .panel-group .panel .panel-body ol {
  margin: 0 0 12px 0;
}
.accordion .panel-group .panel .panel-body h1 {
  font-size: 36px;
  line-height: 46px;
}
.accordion .panel-group .panel .panel-body h2 {
  font-size: 30px;
  line-height: 40px;
}
.accordion .panel-group .panel .panel-body h3 {
  font-size: 24px;
  line-height: 34px;
}
.accordion .panel-group .panel .panel-body h4 {
  font-size: 18px;
  line-height: 28px;
}
.accordion .panel-group .panel .panel-body h5 {
  font-size: 14px;
  line-height: 24px;
}
.accordion .panel-group .panel .panel-body h6 {
  font-size: 12px;
  line-height: 22px;
}
.accordion .panel-group .panel .panel-body p, .accordion .panel-group .panel .panel-body ul, .accordion .panel-group .panel .panel-body ol {
  font-size: 14px;
  line-height: 24px;
}
.accordion .panel-group .panel .panel-body ul, .accordion .panel-group .panel .panel-body ol {
  padding: 0 0 0 34px;
}
.accordion .panel-group .panel .panel-body a {
  color: lime;
  text-decoration: none;
}
.accordion .panel-group .panel .panel-body a:hover, .accordion .panel-group .panel .panel-body a:active, .accordion .panel-group .panel .panel-body a:focus {
  color: lime;
  text-decoration: underline;
}
.accordion .panel-group .panel .panel-body table tr {
  border-bottom: 1px solid #eee;
}
.accordion .panel-group .panel .panel-body table tr:nth-child(odd) {
  background: #eee;
}
.accordion .panel-group .panel .panel-body table tr th {
  color: #fff;
  background: #000;
}
.accordion .panel-group .panel .panel-body table.unstyled tr {
  border-bottom: 0;
}
.accordion .panel-group .panel .panel-body table.unstyled tr th {
  color: #000;
  background: none;
}
.accordion .panel-group .panel .panel-body .table_overflow {
  width: 100%;
  overflow-x: scroll;
}

/* CAROUSEL COMPONENT */
.carousel {
  margin: 0 0 30px 0;
}
.carousel .carousel-indicators li {
  margin: 2px;
}
.carousel .carousel-inner .item .carousel-caption {
  background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 991px) {
  .carousel {
    margin: 0 0 30px 0;
  }
  .carousel .carousel-inner .item .carousel-caption {
    background: black;
  }
}
/* CONTENT BOX COMPONENT */
.content_box h1, .content_box h2, .content_box h3, .content_box h4, .content_box h5, .content_box h6, .content_box p, .content_box ul, .content_box ol {
  margin: 0 0 12px 0;
}
.content_box h1 {
  font-size: 36px;
  line-height: 46px;
}
.content_box h2 {
  font-size: 30px;
  line-height: 40px;
}
.content_box h3 {
  font-size: 24px;
  line-height: 34px;
}
.content_box h4 {
  font-size: 18px;
  line-height: 28px;
}
.content_box h5 {
  font-size: 14px;
  line-height: 24px;
}
.content_box h6 {
  font-size: 12px;
  line-height: 22px;
}
.content_box p, .content_box ul, .content_box ol {
  font-size: 14px;
  line-height: 24px;
}
.content_box ul, .content_box ol {
  padding: 0 0 0 34px;
}
.content_box a {
  color: lime;
  text-decoration: none;
}
.content_box a:hover, .content_box a:active, .content_box a:focus {
  color: lime;
  text-decoration: underline;
}
.content_box table tr {
  border-bottom: 1px solid #eee;
}
.content_box table tr:nth-child(odd) {
  background: #eee;
}
.content_box table tr th {
  color: #fff;
  background: #000;
}
.content_box table.unstyled tr {
  border-bottom: 0;
}
.content_box table.unstyled tr th {
  color: #000;
  background: none;
}
.content_box .table_overflow {
  width: 100%;
  overflow-x: scroll;
}
.section .content_box {
  margin: 0 0 30px 0;
}
.content_box .button a {
  border-style: solid;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #000;
  color: #fff;
  border: 2px solid #000;
}
.content_box .button a:active, .content_box .button a:focus {
  text-decoration: none;
  outline: 0;
}
.content_box .button a:hover {
  text-decoration: none;
  background: none;
  color: #000;
}

/* COOKIE BAR COMPONENT */
.cookie-bar {
  -webkit-animation-name: slideInUp;
  -moz-animation-name: slideInUp;
  -o-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
}
.cookie-bar .cookie-inner .col-a a.cookie {
  color: lime;
}
.cookie-bar .cookie-inner .col-a a.cookie:hover, .cookie-bar .cookie-inner .col-a a.cookie:active, .cookie-bar .cookie-inner .col-a a.cookie:focus {
  color: lime;
}
.cookie-bar .cookie-inner .col-b a.cookie-btn {
  border-style: solid;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: none;
  color: #000;
  border: 2px solid #000;
}
.cookie-bar .cookie-inner .col-b a.cookie-btn:active, .cookie-bar .cookie-inner .col-b a.cookie-btn:focus {
  text-decoration: none;
  outline: 0;
}
.cookie-bar .cookie-inner .col-b a.cookie-btn:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}

/* FOOTER LINKS */
/* ENQUIRY FORM COMPONENT */
.form-horizontal h1, .form-horizontal h2, .form-horizontal h3, .form-horizontal h4, .form-horizontal h5, .form-horizontal h6, .form-horizontal p, .form-horizontal ul, .form-horizontal ol {
  margin: 0 0 12px 0;
}
.form-horizontal h1 {
  font-size: 36px;
  line-height: 46px;
}
.form-horizontal h2 {
  font-size: 30px;
  line-height: 40px;
}
.form-horizontal h3 {
  font-size: 24px;
  line-height: 34px;
}
.form-horizontal h4 {
  font-size: 18px;
  line-height: 28px;
}
.form-horizontal h5 {
  font-size: 14px;
  line-height: 24px;
}
.form-horizontal h6 {
  font-size: 12px;
  line-height: 22px;
}
.form-horizontal p, .form-horizontal ul, .form-horizontal ol {
  font-size: 14px;
  line-height: 24px;
}
.form-horizontal ul, .form-horizontal ol {
  padding: 0 0 0 34px;
}
.form-horizontal a {
  color: lime;
  text-decoration: none;
}
.form-horizontal a:hover, .form-horizontal a:active, .form-horizontal a:focus {
  color: lime;
  text-decoration: underline;
}
.form-horizontal table tr {
  border-bottom: 1px solid #eee;
}
.form-horizontal table tr:nth-child(odd) {
  background: #eee;
}
.form-horizontal table tr th {
  color: #fff;
  background: #000;
}
.form-horizontal table.unstyled tr {
  border-bottom: 0;
}
.form-horizontal table.unstyled tr th {
  color: #000;
  background: none;
}
.form-horizontal .table_overflow {
  width: 100%;
  overflow-x: scroll;
}
.form-horizontal .form-group .controls .date-picker .input-group-addon {
  color: #000;
}

#submitEnquiryButton {
  border-style: solid;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  margin: 0 0 30px 0;
}
#submitEnquiryButton:active, #submitEnquiryButton:focus {
  text-decoration: none;
  outline: 0;
}
#submitEnquiryButton:hover {
  text-decoration: none;
  background: none;
  color: #000;
}
#submitEnquiryButton:after {
  font-family: 'Glyphicons Halflings';
  font-size: 12px;
  content: "\e080";
  margin: 0 0 0 7px;
}

.modal.form-popup {
  background: #fff;
}

.datepicker .datepicker-days .table-condensed thead tr th.prev, .datepicker .datepicker-days .table-condensed thead tr th.next, .datepicker .datepicker-days .table-condensed thead tr th.dow,
.datepicker .datepicker-months .table-condensed thead tr th.prev,
.datepicker .datepicker-months .table-condensed thead tr th.next,
.datepicker .datepicker-months .table-condensed thead tr th.dow,
.datepicker .datepicker-years .table-condensed thead tr th.prev,
.datepicker .datepicker-years .table-condensed thead tr th.next,
.datepicker .datepicker-years .table-condensed thead tr th.dow {
  color: #000;
}
.datepicker .datepicker-days .table-condensed tbody tr td.day.active,
.datepicker .datepicker-months .table-condensed tbody tr td.day.active,
.datepicker .datepicker-years .table-condensed tbody tr td.day.active {
  background: #000;
}
.datepicker .datepicker-days .table-condensed tbody tr td.day.active:hover,
.datepicker .datepicker-months .table-condensed tbody tr td.day.active:hover,
.datepicker .datepicker-years .table-condensed tbody tr td.day.active:hover {
  background: #000;
}
.datepicker .datepicker-days .table-condensed tbody tr td.day.old,
.datepicker .datepicker-months .table-condensed tbody tr td.day.old,
.datepicker .datepicker-years .table-condensed tbody tr td.day.old {
  color: gray;
}
.datepicker .datepicker-days .table-condensed tbody tr td.day:hover,
.datepicker .datepicker-months .table-condensed tbody tr td.day:hover,
.datepicker .datepicker-years .table-condensed tbody tr td.day:hover {
  background: #eee;
}
.datepicker .datepicker-days .table-condensed tbody tr td span.month.active,
.datepicker .datepicker-days .table-condensed tbody tr td span.year.active,
.datepicker .datepicker-months .table-condensed tbody tr td span.month.active,
.datepicker .datepicker-months .table-condensed tbody tr td span.year.active,
.datepicker .datepicker-years .table-condensed tbody tr td span.month.active,
.datepicker .datepicker-years .table-condensed tbody tr td span.year.active {
  background: #000;
}
.datepicker .datepicker-days .table-condensed tbody tr td span.month.active:hover,
.datepicker .datepicker-days .table-condensed tbody tr td span.year.active:hover,
.datepicker .datepicker-months .table-condensed tbody tr td span.month.active:hover,
.datepicker .datepicker-months .table-condensed tbody tr td span.year.active:hover,
.datepicker .datepicker-years .table-condensed tbody tr td span.month.active:hover,
.datepicker .datepicker-years .table-condensed tbody tr td span.year.active:hover {
  background: #000;
}
.datepicker .datepicker-days .table-condensed tbody tr td span.month:hover,
.datepicker .datepicker-days .table-condensed tbody tr td span.year:hover,
.datepicker .datepicker-months .table-condensed tbody tr td span.month:hover,
.datepicker .datepicker-months .table-condensed tbody tr td span.year:hover,
.datepicker .datepicker-years .table-condensed tbody tr td span.month:hover,
.datepicker .datepicker-years .table-condensed tbody tr td span.year:hover {
  background: #eee;
}

/* GALLERY COMPONENT */
.gallery {
  margin: 0 0 30px 0;
  padding: 10px;
  /* GALLERY LIGHTBOX */
}
.gallery .row .col-md-6, .gallery .row .col-sm-6, .gallery .row .col-xs-6 {
  padding: 5px;
}
.gallery .row .col-md-6 a:after, .gallery .row .col-sm-6 a:after, .gallery .row .col-xs-6 a:after {
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.2);
}
.gallery .row .col-md-6 a:hover:after, .gallery .row .col-sm-6 a:hover:after, .gallery .row .col-xs-6 a:hover:after {
  background: rgba(0, 0, 0, 0.1);
}
.col-md-6 .gallery, .col-md-5 .gallery, .col-md-4 .gallery, .col-md-3 .gallery, .col-md-2 .gallery {
  padding: 10px;
  margin: 0 0 30px 0;
}
.col-md-6 .gallery .row .col-md-6, .col-md-6 .gallery .row .col-sm-6, .col-md-6 .gallery .row .col-xs-6, .col-md-5 .gallery .row .col-md-6, .col-md-5 .gallery .row .col-sm-6, .col-md-5 .gallery .row .col-xs-6, .col-md-4 .gallery .row .col-md-6, .col-md-4 .gallery .row .col-sm-6, .col-md-4 .gallery .row .col-xs-6, .col-md-3 .gallery .row .col-md-6, .col-md-3 .gallery .row .col-sm-6, .col-md-3 .gallery .row .col-xs-6, .col-md-2 .gallery .row .col-md-6, .col-md-2 .gallery .row .col-sm-6, .col-md-2 .gallery .row .col-xs-6 {
  padding: 5px;
}
.gallery .modal .modal-dialog .modal-content .modal-body {
  /* GALLERY CAROUSEL COMPONENT */
}
.gallery .modal .modal-dialog .modal-content .modal-body .carousel .carousel-inner .item .carousel-caption {
  color: #000;
}
.gallery .modal .modal-dialog .modal-content .modal-body .carousel .carousel-control i {
  color: lime;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.gallery .modal .modal-dialog .modal-content .modal-body .carousel .carousel-control:hover i {
  color: lime;
}

/* HERO COMPONENT */
.hero {
  height: 450px;
}
.section .hero {
  margin: 0 0 30px 0;
}
.hero:after {
  background: rgba(0, 0, 0, 0.2);
}
.hero .container {
  width: none;
}
.hero .container [class*=col] .hero_content {
  margin-left: 15px;
  margin-right: 15px;
}
.hero .container.position_left .row {
  margin-left: 0;
}
.hero .container.position_right .row {
  margin-right: 0;
}
.hero .container.position_left .row [class*=col], .hero .container.position_right .row [class*=col] {
  background: rgba(0, 0, 0, 0.2);
}
.hero .container [class*=col] .hero_content {
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 30px;
}
.hero .container [class*=col] .hero_content h1, .hero .container [class*=col] .hero_content h2, .hero .container [class*=col] .hero_content h3, .hero .container [class*=col] .hero_content h4, .hero .container [class*=col] .hero_content h5, .hero .container [class*=col] .hero_content h6, .hero .container [class*=col] .hero_content p, .hero .container [class*=col] .hero_content ul, .hero .container [class*=col] .hero_content ol {
  margin: 0 0 12px 0;
}
.hero .container [class*=col] .hero_content h1 {
  font-size: 36px;
  line-height: 46px;
}
.hero .container [class*=col] .hero_content h2 {
  font-size: 30px;
  line-height: 40px;
}
.hero .container [class*=col] .hero_content h3 {
  font-size: 24px;
  line-height: 34px;
}
.hero .container [class*=col] .hero_content h4 {
  font-size: 18px;
  line-height: 28px;
}
.hero .container [class*=col] .hero_content h5 {
  font-size: 14px;
  line-height: 24px;
}
.hero .container [class*=col] .hero_content h6 {
  font-size: 12px;
  line-height: 22px;
}
.hero .container [class*=col] .hero_content p, .hero .container [class*=col] .hero_content ul, .hero .container [class*=col] .hero_content ol {
  font-size: 14px;
  line-height: 24px;
}
.hero .container [class*=col] .hero_content ul, .hero .container [class*=col] .hero_content ol {
  padding: 0 0 0 34px;
}
.hero .container [class*=col] .hero_content a {
  color: lime;
  text-decoration: none;
}
.hero .container [class*=col] .hero_content a:hover, .hero .container [class*=col] .hero_content a:active, .hero .container [class*=col] .hero_content a:focus {
  color: lime;
  text-decoration: underline;
}
.hero .container [class*=col] .hero_content table tr {
  border-bottom: 1px solid #eee;
}
.hero .container [class*=col] .hero_content table tr:nth-child(odd) {
  background: #eee;
}
.hero .container [class*=col] .hero_content table tr th {
  color: #fff;
  background: #000;
}
.hero .container [class*=col] .hero_content table.unstyled tr {
  border-bottom: 0;
}
.hero .container [class*=col] .hero_content table.unstyled tr th {
  color: #000;
  background: none;
}
.hero .container [class*=col] .hero_content .table_overflow {
  width: 100%;
  overflow-x: scroll;
}
.hero .container [class*=col] .hero_content h1, .hero .container [class*=col] .hero_content h2, .hero .container [class*=col] .hero_content h3, .hero .container [class*=col] .hero_content h4, .hero .container [class*=col] .hero_content h5, .hero .container [class*=col] .hero_content h6, .hero .container [class*=col] .hero_content p, .hero .container [class*=col] .hero_content ul, .hero .container [class*=col] .hero_content ol, .hero .container [class*=col] .hero_content small {
  color: #fff;
}
.hero .container [class*=col] .hero_content .button a {
  border-style: solid;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: none;
  color: #000;
  border: 2px solid #000;
  background: auto;
  color: #fff;
  border-width: auto;
  border-color: #fff;
  border-radius: auto;
}
.hero .container [class*=col] .hero_content .button a:active, .hero .container [class*=col] .hero_content .button a:focus {
  text-decoration: none;
  outline: 0;
}
.hero .container [class*=col] .hero_content .button a:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}
.hero .container [class*=col] .hero_content .button a:hover, .hero .container [class*=col] .hero_content .button a:active, .hero .container [class*=col] .hero_content .button a:focus {
  background: #fff;
  color: #000;
  border-color: #fff;
}

@media (max-width: 991px) {
  .hero {
    max-width: 1600px;
    margin: 0 auto;
    min-height: auto;
    height: auto;
    background-size: 170%;
    background-color: black;
  }
  .hero .image_size_placeholder {
    background: rgba(0, 0, 0, 0.2);
    padding: 47.92332% 0 0;
  }
  .hero .container .row [class*=col] .hero_content,
  .hero .container.position_left .row [class*=col] .hero_content,
  .hero .container.position_right .row [class*=col] .hero_content {
    background: black;
    padding: 20px;
  }
  .hero .container.position_left .row {
    margin-left: -15px;
  }
  .hero .container.position_right .row {
    margin-right: -15px;
  }
  .hero .container [class*=col] .hero_content {
    margin-bottom: 0;
  }
}
/* LANGUAGE LINKS COMPONENT */
.language_links_v2 {
  margin-bottom: 30px;
}
.language_links_v2 li a {
  color: #000;
  font-size: 12px;
}
.language_links_v2 li a:hover, .language_links_v2 li a:active, .language_links_v2 li a:focus {
  color: #000;
}
.language_links_v2 li ul li a, .language_links_v2 li ul li a:hover {
  color: #000;
}

/* MAIN LOGO COMPONENT */
.logo {
  margin: 0;
}
.logo img {
  max-width: none;
}

@media (max-width: 991px) {
  .logo {
    margin: 0 0 20px 0;
  }
}
/* MAP COMPONENT */
.map {
  margin: 0 0 30px 0;
}

/* SG LOGO COMPONENT */
/* SOCIAL MEDIA COMPONENT */
.social_media_wrapper .social_media li {
  margin-right: 15px;
}
.social_media_wrapper .social_media li a {
  font-size: 30px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.social_media_wrapper .social_media li a:hover, .social_media_wrapper .social_media li a:active, .social_media_wrapper .social_media li a:focus {
  opacity: 0.8;
}

@media (max-width: 991px) {
  .social_media_wrapper {
    margin: 0 0 30px 0;
  }
  .social_media_wrapper .social_media li {
    margin: 0 7px;
  }
}
/* TABS WIDGET COMPONENT */
.tab_wrapper {
  margin: 0 0 30px 0;
}
.tab_wrapper .tab-content .tab-pane h1, .tab_wrapper .tab-content .tab-pane h2, .tab_wrapper .tab-content .tab-pane h3, .tab_wrapper .tab-content .tab-pane h4, .tab_wrapper .tab-content .tab-pane h5, .tab_wrapper .tab-content .tab-pane h6, .tab_wrapper .tab-content .tab-pane p, .tab_wrapper .tab-content .tab-pane ul, .tab_wrapper .tab-content .tab-pane ol {
  margin: 0 0 12px 0;
}
.tab_wrapper .tab-content .tab-pane h1 {
  font-size: 36px;
  line-height: 46px;
}
.tab_wrapper .tab-content .tab-pane h2 {
  font-size: 30px;
  line-height: 40px;
}
.tab_wrapper .tab-content .tab-pane h3 {
  font-size: 24px;
  line-height: 34px;
}
.tab_wrapper .tab-content .tab-pane h4 {
  font-size: 18px;
  line-height: 28px;
}
.tab_wrapper .tab-content .tab-pane h5 {
  font-size: 14px;
  line-height: 24px;
}
.tab_wrapper .tab-content .tab-pane h6 {
  font-size: 12px;
  line-height: 22px;
}
.tab_wrapper .tab-content .tab-pane p, .tab_wrapper .tab-content .tab-pane ul, .tab_wrapper .tab-content .tab-pane ol {
  font-size: 14px;
  line-height: 24px;
}
.tab_wrapper .tab-content .tab-pane ul, .tab_wrapper .tab-content .tab-pane ol {
  padding: 0 0 0 34px;
}
.tab_wrapper .tab-content .tab-pane a {
  color: lime;
  text-decoration: none;
}
.tab_wrapper .tab-content .tab-pane a:hover, .tab_wrapper .tab-content .tab-pane a:active, .tab_wrapper .tab-content .tab-pane a:focus {
  color: lime;
  text-decoration: underline;
}
.tab_wrapper .tab-content .tab-pane table tr {
  border-bottom: 1px solid #eee;
}
.tab_wrapper .tab-content .tab-pane table tr:nth-child(odd) {
  background: #eee;
}
.tab_wrapper .tab-content .tab-pane table tr th {
  color: #fff;
  background: #000;
}
.tab_wrapper .tab-content .tab-pane table.unstyled tr {
  border-bottom: 0;
}
.tab_wrapper .tab-content .tab-pane table.unstyled tr th {
  color: #000;
  background: none;
}
.tab_wrapper .tab-content .tab-pane .table_overflow {
  width: 100%;
  overflow-x: scroll;
}

/* TESTIMONIAL COMPONENT */
.testimonial {
  margin: 0 0 30px 0;
}
.testimonial .testimonial_info h1, .testimonial .testimonial_info h2, .testimonial .testimonial_info h3, .testimonial .testimonial_info h4, .testimonial .testimonial_info h5, .testimonial .testimonial_info h6, .testimonial .testimonial_info p, .testimonial .testimonial_info ul, .testimonial .testimonial_info ol {
  margin: 0 0 12px 0;
}
.testimonial .testimonial_info h1 {
  font-size: 36px;
  line-height: 46px;
}
.testimonial .testimonial_info h2 {
  font-size: 30px;
  line-height: 40px;
}
.testimonial .testimonial_info h3 {
  font-size: 24px;
  line-height: 34px;
}
.testimonial .testimonial_info h4 {
  font-size: 18px;
  line-height: 28px;
}
.testimonial .testimonial_info h5 {
  font-size: 14px;
  line-height: 24px;
}
.testimonial .testimonial_info h6 {
  font-size: 12px;
  line-height: 22px;
}
.testimonial .testimonial_info p, .testimonial .testimonial_info ul, .testimonial .testimonial_info ol {
  font-size: 14px;
  line-height: 24px;
}
.testimonial .testimonial_info ul, .testimonial .testimonial_info ol {
  padding: 0 0 0 34px;
}
.testimonial .testimonial_info a {
  color: lime;
  text-decoration: none;
}
.testimonial .testimonial_info a:hover, .testimonial .testimonial_info a:active, .testimonial .testimonial_info a:focus {
  color: lime;
  text-decoration: underline;
}
.testimonial .testimonial_info table tr {
  border-bottom: 1px solid #eee;
}
.testimonial .testimonial_info table tr:nth-child(odd) {
  background: #eee;
}
.testimonial .testimonial_info table tr th {
  color: #fff;
  background: #000;
}
.testimonial .testimonial_info table.unstyled tr {
  border-bottom: 0;
}
.testimonial .testimonial_info table.unstyled tr th {
  color: #000;
  background: none;
}
.testimonial .testimonial_info .table_overflow {
  width: 100%;
  overflow-x: scroll;
}

/* VIDEO COMPONENT */
.video {
  margin: 0 0 30px 0;
}

/* VIDEO LIGHTBOX */
.modal-backdrop {
  background: #fff;
  opacity: 0.9 !important;
}

.modal .modal-dialog .modal-content .modal-header .close,
.modal .modal-dialog .modal-content .modal-body .close {
  color: lime;
  border-color: lime;
  border-radius: 20px;
  border-width: 2px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.modal .modal-dialog .modal-content .modal-header .close:hover, .modal .modal-dialog .modal-content .modal-header .close:focus, .modal .modal-dialog .modal-content .modal-header .close:active,
.modal .modal-dialog .modal-content .modal-body .close:hover,
.modal .modal-dialog .modal-content .modal-body .close:focus,
.modal .modal-dialog .modal-content .modal-body .close:active {
  color: lime;
  border-color: lime;
}
.modal .modal-dialog .modal-content .modal-header .modal-title,
.modal .modal-dialog .modal-content .modal-body .modal-title {
  color: #000;
}

.widget {
  margin: 0 0 30px 0;
}
.widget .button a {
  border-style: solid;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: none;
  color: #000;
  border: 2px solid #000;
}
.widget .button a:active, .widget .button a:focus {
  text-decoration: none;
  outline: 0;
}
.widget .button a:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}

.pullout {
  margin: 0 0 30px 0;
  background: red;
}
.pullout .button a {
  border-style: solid;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: none;
  color: #000;
  border: 2px solid #000;
}
.pullout .button a:active, .pullout .button a:focus {
  text-decoration: none;
  outline: 0;
}
.pullout .button a:hover {
  text-decoration: none;
  background: #000;
  color: #fff;
}
.pullout.option2 {
  background: green;
}
.pullout.option3 {
  background: blue;
}

@media (max-width: 991px) {
  header {
    padding: 20px;
  }
}
